.main {
    padding: 5px 0;
}

th {
    text-align: center;
}

.xunk-calendar {
    width: 100%;             /* fill all space */
}

.xunk-calendar-cell {
    text-align: center;
    padding: 0.5vw 0;
}

.xunk-calendar-cell button {
    padding: 0.2vw;
}

.monthname {
    font-size: 2.4em;
    font-weight: 300;
    margin-left: 25px;
}

.weekday th {
    color: hsl(0, 0%, 86%);
}

.xunk-calendar-day {
    -webkit-transition: background-color 100ms linear, color 100ms linear;
    -ms-transition: background-color 100ms linear, color 100ms linear;
    transition: background-color 100ms linear, color 100ms linear;
}

@media (min-width: 1000px) {
    button {
        font-size: 1.05em;
    }
}

@media (min-width: 1200px) {
    button {
        font-size: 1.08em;
    }
}
