<div class="modal bookings-conflict" *ngIf="hasConflict" [ngClass]="{'is-active': hasConflict}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Conflict: Choose one</p>
      <button class="delete" aria-label="close" (click)="closeModal($event)"></button>
    </header>
    <section class="modal-card-body">
      <div *ngFor="let booking of [booking1, booking2]; let i = index">
        <div class="card">
          <div class="card-content">
            <p class="title">
              {{ booking.roomNumber }}
            </p>
            <p class="subtitle">
              {{ booking.roomName }}
            </p>
            <div class="content">
              <span class="has-text-info">From:</span> {{ booking.from | date:'medium' }}
              <br>
              <span class="has-text-info">To:</span> {{ booking.to | date:'medium' }}
              <br>
              <span class="has-text-info">Status:</span> {{booking.status}}
              <br>
              <span>{{ booking.userEmail }}</span>
            </div>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item has-text-success" *ngIf="authService.isAdmin || authService.isSuperuser" (click)="approveBooking(i)">
              <span>
                <i class="fa fa-check"></i>
              </span>
            </p>
          </footer>
        </div>
        <div class="is-divider" data-content="OR" *ngIf="i === 0"></div>

      </div>

    </section>
  </div>
</div>
