<div class="card">
  <div class="card-content">
    <p class="title">
      {{ booking.roomNumber }}
    </p>
    <p class="subtitle">
      {{ booking.roomName }}
    </p>
    <div class="content">
      <small>{{booking.from | date: 'mediumDate' }} | {{booking.from | date: 'shortTime' }} - {{booking.to | date: 'shortTime' }}</small>
      <br>
      <span class="has-text-info">Status:</span> {{booking.status}}
      <br>
      <span class="has-text-info">Concil:</span> {{booking.councilName}}
      <br>
      <span class="has-text-info">Purpose:</span> {{booking.purposeOfBooking}}
      <br>
      <span>{{ booking.userLdapUsername }}</span>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item button is-white" *ngIf="(authService.isAdmin || authService.isSuperuser) && booking.status !== 'Approved'"
      (click)="approveBooking()">
      <span class="icon">
        <i class="fa fa-check has-text-success"></i>
      </span>
    </a>
    <a class="card-footer-item button is-white" *ngIf="(authService.isAdmin || authService.isSuperuser) && booking.status !== 'Rejected'"
      (click)="rejectBooking()">
      <span class="icon">
        <i class="fa fa-times has-text-info"></i>
      </span>
    </a>
    <a class="card-footer-item button is-white" *ngIf="!authService.isAdmin || authService.isSuperuser" (confirm)="deleteBooking()"
      [swal]="{ title: 'Are you sure you want to delete booking?', type: 'warning', showCloseButton: true, showCancelButton: true, focusConfirm: false, confirmButtonText: 'Yes, delete it', cancelButtonText: 'No' }">
      <span class="icon">
        <i class="fa fa-trash-alt has-text-danger"></i>
      </span>
    </a>
  </footer>
</div>
