<form #roomForm="ngForm" (submit)="onSubmit()" class="is-center">


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Number</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input class="input" type="number" placeholder="Room number" required [(ngModel)]="room.number" name="number">
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Name</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input class="input" type="text" placeholder="Room name" required [(ngModel)]="room.name" name="name">
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit" [disabled]="!roomForm.form.valid">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
