<form #roomForm="ngForm" (submit)="onSubmit()">
  <section class="section">
    <div class="container">

      <div class="columns">
        <div class="column is-5">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Number</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="number" placeholder="Room number" required [(ngModel)]="room.number" name="number">
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="text" placeholder="Room name" required [(ngModel)]="room.name" name="name">
                </p>
              </div>
            </div>
          </div>

          <div class="field">
            <p class="control">
              <button class="button is-primary" type="submit" [disabled]="!roomForm.form.valid">
                Submit
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
