<app-banner title="Bookings"></app-banner>

<div class="tabs is-centered">
  <ul>
    <li class="tab" [ngClass]="{'is-active': tab === 0}" (click)="tab = 0; fetchAllBookings()">
      <a>Bookings</a>
    </li>
    <li class="tab" (click)="tab = 1" [ngClass]="{'is-active': tab === 1}">
      <a>Create Booking</a>
    </li>
  </ul>
</div>

<div class="modal" *ngIf="hasConflict" [ngClass]="{'is-active': hasConflict}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Conflict: Choose one</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <app-booking-card [booking]="conflictedBookings.booking1"></app-booking-card>
      <div class="is-divider" data-content="OR"></div>
      <app-booking-card [booking]="conflictedBookings.booking2"></app-booking-card>

    </section>
  </div>
</div>

<section class="section">
  <div class="container">
    <app-create-booking [hidden]="tab !== 1"></app-create-booking>

    <div class="columns is-multiline">
      <div class="column is-4" *ngFor="let booking of bookings">
        <app-booking-card [booking]="booking" (handleConflict)="handleConflict($event)" [hidden]="tab !== 0" (deleteBookingFromArr)="deleteBookingFromArr($event)"></app-booking-card>
      </div>
    </div>

  </div>
</section>
