<app-banner title="Bookings"></app-banner>

<div class="tabs is-centered">
  <ul>
    <li class="tab" [ngClass]="{'is-active': tab === 0}" (click)="tab = 0; fetchAllBookings()">
      <a>Bookings</a>
    </li>
    <li class="tab" (click)="tab = 1" [ngClass]="{'is-active': tab === 1}">
      <a>Create Booking</a>
    </li>
  </ul>
</div>

<app-booking-conflict-modal [booking1]="conflictedBookings?.booking1" [booking2]="conflictedBookings?.booking2" (conflictResolvedBookings)="changeBookingsStatus($event)"
  [(hasConflict)]="hasConflict">
</app-booking-conflict-modal>

<section class="section">
  <div class="container" [hidden]="tab !== 1">
    <app-create-booking></app-create-booking>
  </div>
  <div class="container animated fadeIn" [hidden]="tab !== 0">
    <div class="columns is-mobile is-centered is-multiline">
      <div class="column is-narrow">
        <div class="field">
          <input class="is-checkradio" id="approvedBookingsCheckbox" type="checkbox" name="approvedBookingsCheckbox" [(ngModel)]="approvedBookingsCheckbox">
          <label for="approvedBookingsCheckbox">Approved</label>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="field">
          <input class="is-checkradio" id="rejectedBookingsCheckbox" type="checkbox" name="rejectedBookingsCheckbox" [(ngModel)]="rejectedBookingsCheckbox">
          <label for="rejectedBookingsCheckbox">Rejected</label>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="field">
          <input class="is-checkradio" id="pendingApprovalBookingsCheckbox" type="checkbox" name="pendingApprovalBookingsCheckbox"
            [(ngModel)]="pendingApprovalBookingsCheckbox">
          <label for="pendingApprovalBookingsCheckbox">Pending Approval</label>
        </div>
      </div>
    </div>
    <div class="columns is-multiline">
      <ng-container *ngFor="let booking of bookings">
        <div class="column is-4" *ngIf="isBookingVisible(booking)">
          <app-booking-card [booking]="booking" (handleConflict)="handleConflict($event)" (deleteBookingFromArr)="deleteBookingFromArr($event)"></app-booking-card>

        </div>
      </ng-container>
    </div>
  </div>
</section>
