<app-banner title="Bookings"></app-banner>

<div class="tabs is-centered">
  <ul>
    <li class="tab" [ngClass]="{'is-active': tab === 0}" (click)="tab = 0; fetchAllBookings()">
      <a>Bookings</a>
    </li>
    <li class="tab" (click)="tab = 1" [ngClass]="{'is-active': tab === 1}">
      <a>Create Booking</a>
    </li>
  </ul>
</div>

<app-booking-conflict-modal
  [booking1]="conflictedBookings?.booking1" 
  [booking2]="conflictedBookings?.booking2" 
  (conflictResolvedBookings)="changeBookingsStatus($event)"
  [(hasConflict)]="hasConflict">
</app-booking-conflict-modal>

<section class="section">
  <div class="container">
    <app-create-booking [hidden]="tab !== 1"></app-create-booking>

    <div class="columns is-multiline">
      <div class="column is-4" *ngFor="let booking of bookings">
        <app-booking-card [booking]="booking" (handleConflict)="handleConflict($event)" [hidden]="tab !== 0" (deleteBookingFromArr)="deleteBookingFromArr($event)"></app-booking-card>
      </div>
    </div>

  </div>
</section>
