<nav class="navbar has-shadow is-spaced">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      SAC Room Booking Portal
    </a>
    <div class="navbar-burger burger" id="navbar-burger" data-target="sac-navbar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="sac-navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/" *ngIf="auth.isAuthenticated()">
        Home
      </a>
      <a class="navbar-item" routerLink="/login" *ngIf="!auth.isAuthenticated()">
        Login
      </a>
      <a class="navbar-item" routerLink="/signup" *ngIf="!auth.isAuthenticated()">
        Signup
      </a>
      <a class="navbar-item" routerLink="/bookings" *ngIf="auth.isAuthenticated()">
        Bookings
      </a>
      <a class="navbar-item" routerLink="/rooms" *ngIf="auth.isAuthenticated() && auth.isAdmin">
        Rooms
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" (click)="logout()" *ngIf="auth.isAuthenticated()">
        Logout
      </a>
    </div>

  </div>
</nav>
