<nav class="navbar has-shadow is-spaced">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      SAC Room Booking Portal
    </a>
    <div class="navbar-burger burger" data-target="sac-navbar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="sac-navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">
        Home
      </a>
      <a class="navbar-item" routerLink="/login">
        Login
      </a>
      <a class="navbar-item" routerLink="/signup">
        Signup
      </a>
    </div>


  </div>
</nav>
