.navbar {
  z-index: 0;
}

.navbar-brand .navbar-item {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: 1px solid grey;
  border-radius: 5px;
  opacity: 0.4;
  margin: 10px;
  color: black;
  font-weight: 100;
  font-size: 0.7em;
}

.navbar-brand .navbar-item:hover {
  opacity: 0.8;
  color: black;
}

.ha-council-navbar-item {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 100;
  font-size: 0.75em;
}

.navbar-item {
  font-weight: 100;
}