<div class="modal modal-fx-superScaled" [ngClass]="{'is-active': offerImageModalActive}">
    <div class="modal-background" (click)="toggleOfferImageModal()"></div>
    <div class="modal-content is-huge is-image">
        <img src="{{offerImageUrl}}" alt="{{offer.offerDetails}}">
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="toggleOfferImageModal()"></button>
</div>

<div class="card" [ngClass]="{'is-clipped': offerImageModalActive}">
  <div class="card-image" (click)="toggleOfferImageModal()">
    <figure class="image">
      <img src="{{offerImageUrl}}?w=400" alt="{{offer.offerDetails}}">
      <i class="fas fa-expand expand-offer-image"></i>
    </figure>
  </div>
  <div class="card-content">
    <p class="subtitle">
      {{ offer.categoryName }}
    </p>
    <span class="has-text-primary">{{ offer.userLdapUsername }}</span>
    <div class="content" id="offer-card-content">
      <small>Valid till {{offer.validTill | date: 'mediumDate' }}</small>
      <br>
      <span class="has-text-info" *ngIf="(authService.isAdmin || authService.isModerator)">Status:</span>
      {{offer.status}}
      <br>
      <span class="has-text-info">Name:</span> {{offer.companyName}}
      <br>
      <span class="has-text-info">Offer Details:</span> {{offer.offerDetails}}
      <br>
      <span class="has-text-info">Offer Code:</span> {{offer.offerCode}}
      <br>
      <span class="has-text-info">Contact Information:</span> {{offer.contact}}
    </div>
  </div>
  <footer class="card-footer" *ngIf="!disableActions">
    <a class="card-footer-item button is-white" *ngIf="!authService.isModerator || authService.isAdmin" routerLink="/offers/edit/{{offer._id}}">
      <span class="icon">
        <i class="fa fa-pencil-alt has-text-primary"></i>
      </span>
    </a>
    <a class="card-footer-item button is-white" *ngIf="(authService.isAdmin || authService.isModerator) && offer.status !== 'Approved'"
      (click)="approveOffer()">
      <span class="icon">
        <i class="fa fa-check has-text-success"></i>
      </span>
    </a>
    <a class="card-footer-item button is-white" *ngIf="(authService.isAdmin || authService.isModerator) && offer.status !== 'Rejected'"
      (click)="rejectOffer()">
      <span class="icon">
        <i class="fa fa-times has-text-info"></i>
      </span>
    </a>
    <a class="card-footer-item button is-white" *ngIf="!authService.isModerator || authService.isAdmin" (confirm)="deleteOffer()"
      [swal]="{ title: 'Are you sure you want to delete the offer?', type: 'warning', showCloseButton: true, showCancelButton: true, focusConfirm: false, confirmButtonText: 'Yes, delete it', cancelButtonText: 'No' }">
      <span class="icon">
        <i class="fa fa-trash-alt has-text-danger"></i>
      </span>
    </a>
  </footer>
</div>
