<form #categoryForm="ngForm" (submit)="onSubmit()" class="is-center">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Unique Identifier</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input class="input" type="text" pattern="[a-z]+" placeholder="Unique Identifier" required [(ngModel)]="category.uniqueIdentifier" #uniqueIdentifier="ngModel"
          [ngClass]="{'is-primary': uniqueIdentifier.valid, 'is-danger': !uniqueIdentifier.valid && uniqueIdentifier.touched}"
            name="uniqueIdentifier">
          <span>
            <ul>
              <li>| Only lowercase letters allowed</li>
              <li>| Should be unique and similar to Name below</li>
            </ul>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Name</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input class="input" type="text" placeholder="Category name" required [(ngModel)]="category.name" name="name">
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit" [disabled]="!categoryForm.form.valid">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
