<app-banner title="Signup"></app-banner>

<div [hidden]="!err">
  <article class="message is-danger">
    <div class="message-header">
      <p>Error</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      {{ err.message }}
    </div>
  </article>
</div>  

<form #signupForm="ngForm" (submit)="onSubmit()">
  <section class="section">
    <div class="container">

      <div class="columns">

        <div class="column is-3">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="email" placeholder="Email"
                    email required
                    [(ngModel)]="user.email" name="email" 
                    [class.is-danger]="email.errors?.email"
                    #email="ngModel">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
            <div [hidden]="!email.errors?.email">
              <p class="help is-danger">
                This email is invalid
              </p>
            </div>
          </div>

        </div>
        <div class="column is-3">

          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" minlength="6" placeholder="Password" 
                      required 
                      [(ngModel)]="user.password" name="password" 
                      [class.is-danger]="password.errors?.minlength" 
                      #password="ngModel">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
            <div [hidden]="!password.errors?.minlength">
                <p class="help is-danger">
                  Min length of password should be 6
                </p>
              </div>
          </div>
        </div>
        <div class="column is-3">

          <div class="field">
            <p class="control">
              <button class="button is-primary" type="submit" [disabled]="!signupForm.form.valid">
                Signup
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>
</form>