<app-banner title="Categories"></app-banner>

<section class="section">
  <div class="container">
    <div class="columns is-centered is-vcentered">
      <div class="column has-text-centered" *ngIf="!authService.isAuthenticated()">
        <a class="button is-outlined is-primary" href="{{loginUrl}}">
          Login with SSO
        </a>
      </div>
    </div>
    <div class="columns is-multiline category-container">
      <div class="column is-4" *ngFor="let category of categories">
        <div class="card" routerLink="offers/{{category.uniqueIdentifier}}">
          <div class="card-image has-text-centered">
            <figure class="image is-4by3">
              <img src="https://images.unsplash.com/photo-1524721696987-b9527df9e512?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80"
                alt="Placeholder image">
              <p class="category-name">{{ category.name }}</p>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
