<!-- <app-banner title="Categories"></app-banner> -->

<section class="section">
  <div class="container">
    <div class="columns is-centered is-vcentered">
      <div class="column has-text-centered" *ngIf="!authService.isAuthenticated()">
        <a class="button is-outlined is-primary" href="{{loginUrl}}">
          Login with SSO
        </a>
      </div>
    </div>
    <div class="columns is-multiline category-container" *ngIf="authService.isAuthenticated()">
      <div class="column is-4 is-paddingless" *ngFor="let category of categories">
        <div class="card" routerLink="offers/{{category.uniqueIdentifier}}">
          <div class="card-image has-text-centered">
            <figure class="image is-4by3">
              <img src="{{category.thumbnail}}"
                alt="Placeholder image">
              <p class="category-name">{{ category.name }}</p>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
