<app-banner title="Admin Panel"></app-banner>

<form (submit)="onSubmit(username.value)">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">LDAP Username</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="text" placeholder="Username" #username>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-3">
          <div class="field">
            <p class="control">
              <button class="button is-primary is-outlined" type="submit">
                Search
              </button>
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="container" *ngIf="user">
      <div class="is-divider"></div>      
      <div class="columns is-mobile">
        <div class="column is-3">
          {{user.ldap_username}}
        </div>
        <div class="column is-3">
          <div class="field">
            <input id="admin-switch" type="checkbox" name="admin-switch" class="switch" 
                  (change)="onChange('admin', adminSwitch.checked)" 
                  [disabled]="changing_status" 
                  [checked]="user.admin"
                  #adminSwitch>
            <label for="admin-switch">Admin</label>
          </div>
        </div>

        <div class="column is-3">
          <div class="field">
            <input id="superuser-switch" type="checkbox" name="superuser-switch" class="switch" 
                  (change)="onChange('superuser', superuserSwitch.checked)" 
                  [disabled]="changing_status" 
                  [checked]="user.superuser"
                  #superuserSwitch>
            <label for="superuser-switch">Superuser</label>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
